@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: 'Noto Sans JP', sans-serif;
}



div.body {
    background-image: url('./images/background.jpg');
    background-color: #cccccc; 
    min-height: 100vh;
    height: 100%;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

div.Nav {
    display: flex;
    justify-content: space-around;
    background-color: rgba(175, 175, 175, .9);
}

div.Nav span {
    font-size: 20px;
    margin: 15px;
    
}

div.Nav span a {
    text-decoration: none;
}

div.Nav span a:hover {
    color: red;
}

div.profileCard {
    display: flex;
    justify-content: flex-end;
}

img.projectImage {
    max-width: 450px;
    max-height: 450px;
}

h1.projectHeading {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    img.projectImage {
        max-width: 250px;
        max-height: 250px;
    }
    span.name {
        display: none;
    }
}